{% extends 'base.html' %} {% block title%}Login{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="logo">
        <img src="https://www.freepnglogos.com/uploads/yellow-black-batman-logo-png-2.png" width="200" alt="An image of a bat logo">
    </div>
    <div class="text-center mt-4 name">
        Login
    </div>
    <form class="p-3 mt-3" method="post">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-envelope"></span>
            <input type="text" name="email" id="email" placeholder="Email">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a href="#">Sign up</a>
    </div>
</div>
<textarea name="" id="" cols="3" rows="2"></textarea>
{% endblock %}}
